pandas
google-api-python-client
python-dotenv
joblib
xgboost
spacy>=3.7.2,<3.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
flask
flask-cors
scikit-learn==1.7.1
